.image-upload {
  position: absolute;
}

.image-button {
  position: absolute;
  z-index: 5;
  background-color: white;
  border: solid 1px black;
}

.image-item {
  position: absolute;
  z-index: 5;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-image {
  position: absolute;
  top: -15%;
  right: -15%;
  z-index: 4;
  font-family: handwriting;
  font-size: 15px;
  border-radius: 50%;
  border: none;
  background-color: #ff7b76;
}

.update-image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0);
  border: none;
}
