.App {
  text-align: center;
  display: flex;
  background-color: #c1c7a3;
  height: 100vh;
  width: 100vw;
  align-items: center;
  /* justify-content: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#base {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 90%;
  border-radius: 1vw;
  border: solid 5px seashell;
}

.asmr-sliders {
  position: absolute;
  bottom: 38%;
  left: 49%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 15vw;
}

@font-face {
  font-family: handwriting;
  src: url("../assets/Storytime.ttf");
}

.input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

.button {
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #53b398;
  font-family: handwriting;
  font-size: 25px;
  text-transform: lowercase;
  color: black;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.action {
  background-color: #ff7b76 !important;
}
